@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    padding:0px;
    margin:0px;
    text-decoration: none;
}
body{
    background-color: #140A56;
    overflow: hidden;
}
.logo{
    position: absolute;
    left:5px;
    top:-27px;
    width: 130px;

}


.menu-bar{
    background-color:#090330;
    text-align:center;

}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #ffff;
    
}
.menu-bar ul li{
    width: 130;
    margin:15px;
    padding:15px;
    

}
.menu-bar ul li a{
         padding: 15px;
         text-decoration:none;
         color:#ffff;
}
.menu-bar ul li a:hover{
    background-color: #002735;
    border-radius: 3px;
}

.sub-menu-search{
    display: none;
}
.sub-menu-sort{
    display: none;
    
}
.menu-bar ul li:hover .txtonimg{
    position: relative;
}

.menu-bar ul li:hover .sub-menu-search{
   z-index: 5;
    display: block;
    position: fixed;
    background-color: #090330;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-search ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-search ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #ffff;
    background: transparent;
    border-radius: 0;
    text-align: left;

}

.menu-bar ul li:hover .sub-menu-sort{
    z-index: 5;
    display: block;
    position: fixed;
    background-color: #090330;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-sort ul{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-sort ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #ffff;
    background: transparent;
    border-radius: 0;
    text-align: left;

}
.menu-bar ul li:hover .sub-menu-sort ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-search ul li:last-child{
    border-bottom: none;
}

.bgimg{

    height: 100%;
    width: 100%;
    object-fit:cover;
}
.img-div{
    height: 100%;
    width: 100%; 
   
}
.fon1{ 
    /* font for the front page title slidein */
    margin-left: 10px;
    font-family: 'Dancing Script', cursive;

}
.fon2{ 
    /* font for the front page title slidein */
    margin-left: 10px;
    font-family: 'Dancing Script', cursive;
 

}
.fon3{ 
    /* font for the front page title slidein */
    margin-left: 10px;
    font-family: 'Dancing Script', cursive;
}
.txtonimg{
    color: white;
    top: 80px;
    left: 16px;
    position: absolute;
    font-size:150px;
    overflow:hidden;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-name: slidein;
   
}

@keyframes slidein {
    from {
        opacity: 0;
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}